# Python cache / compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/
seq2seq.ipynb

# Data (if you don't want to track raw data)
data/eng-ara.txt
data/_about.txt
data/names/*.txt

# OS/editor junk
.DS_Store
*.swp